## JetBrains IDE
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Editor-based Rest Client
.idea/httpRequests

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml


## Nodejs
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity


## Terraform
.terraform
*.tfstate
*.tfstate.*
crash.log
.tfvars
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json


## Dotenv
.env


## OS
.DS_Store


## Typescript
.tsbuildinfo
out

## Bazel
bazel-*


## CA
ca/pki/private/*
!ca/pki/private/ca.key